@import '../variables.scss';

.button {
  padding: 8px 18px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: $hover-button;
  transition: background-color .3s;

  &:hover {
    cursor: pointer;
    background-color: $background;
    color: $gray-line;
  }
}

.button:active,
.button:focus,
.button {
  outline: none !important;
  border: none;
}

.button-submit {
  background-color: #fff;
  width: 50%;
  transition: background-color .3s ;

  &:hover {
    background-color: #0d0d0d;
    color: $gray-line;
  }
}

.button-submit-auth {
  width: 100%;
  margin-bottom: 10px;
}